<button class="btn-icon nav__btn nav__role-btn js-nav-role-btn u-display-none" data-event="changeRole"{{#if buttonAriaLabel}} aria-label="{{buttonAriaLabel}}"{{/if}}>
    <div class="icon"></div>
    <span class="nav__role-btn-label">{{{buttonLabel}}}</span>
</button>
